/** COLORS **/
@main-color: #CB333B;
@dark-color: #2c2a29;

/** TYPOGRAPHY **/
@title-font: "rift",sans-serif;
@text-font: "raleway", sans-serif;

/** MIXINS **/
.round-borders (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.transitions (@trns) {
  -webkit-transition: @trns;
  -moz-transition: @trns;
  -o-transition: @trns;
  transition: @trns
}
.box-shadow(@arguments) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}
.bg-cover(){
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
