.om{
  a.artigo{
    margin:0 20px 30px;
    padding: 15px;
    border: 2px solid @main-color;
    display:block;
    clear: both;
    color: @dark-color;
    .transitions(all .2s linear);

    &:hover,&:focus{
      text-decoration: none;
      border-color: @dark-color;

      span.title, span.leiamais{
        color: @main-color
      }
    }

    span{
      display:block;

      &.title{
        font-size:26px;
        text-transform: uppercase;
        font-family: @title-font;
        margin-bottom:15px
      }
      &.description{
        font-size:16px;
        margin-bottom:15px
      }
      &.leiamais{
        text-align: right;
        padding: 15px
      }
    }
    .cover{
      width: 100%
    }
  }
  .sharebutton{
    margin-top:40px
  }
}
.page_artigos, .page_artigo_detalhes{
  header#inside{
    .bg-img{
      @media (min-width: 768px){
        background-image: url("http://lorempixel.com/1366/420/city/");
      }
      @media (max-width: 767px){
        background-image: url("http://lorempixel.com/768/300/city/");
      }
    }
  }
}
@media (max-width: 1200px) {
  .om a.artigo{
    margin-right:0;
    margin-left:0;
  }
}
