.page_contato{
  header#inside{
    background: transparent url("http://lorempixel.com/1366/360/city/") no-repeat top center;
  }
  h1{
    margin-bottom:25px
  }
  p{
    color: #FFF;

    a{
      color:#FFF;
      text-decoration: none;

      &:hover, &:focus{
        text-decoration: underline;
        color:#FFF
      }
    }
  }
}
