#carousel-om {
  overflow: hidden;
  display: none;

  .carousel-inner {
    z-index: 7;

    .item{
      background-position: center center;
      .animation(head_banners 75s ease-in-out infinite);
      .bg-cover;

      img {
        width: 100%
      }
      .carousel-caption {
        display: none
      }
    }
  }
  #caption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 10;

    &.anima h2::after {
      width: 100%
    }
    h2 {
      font-family: @title-font;
      @media(min-width:768px){
        font-size: 50px;
        line-height:50px;
      }
      @media(max-width:767px){
        font-size: 35px;
        line-height: 35px;
        padding-right: 15%;
      }
      padding-bottom: 15px;
      text-align: left;
      position: relative;
      margin: 0;

      &::after {
        content: " ";
        clear: both;
        background: transparent url("../img/home-display-caption-border.gif") repeat-x bottom left;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        .transitions(all 2s ease-out)
      }
      a {
        color: #FFF;
        display: block;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .carousel-control {
    z-index: 11;
    text-align: center;

    &, &:hover, &:focus {
      background: transparent;
    }
    span {
      text-indent: -161187em;
      width: 22px;
      height: 44px;
      position: absolute;
      top: 50%;
      left:50%;
      margin-top: -22px;
      margin-left: -11px;

      @media(min-width: 1201px){
        &::after{
          content: "";
          position:absolute;
          background-color: #FFFFFF;
          top:50%;
          left:50%;
          width: 60px;
          height: 80px;
          margin-left: -30px;
          margin-top: -40px;
          .blur(15px);
          .opacity(0);
          .transitions(all .5s ease-in-out);
          .mask(url("../img/seta.svg") no-repeat 50% 50%);
        }
      }
    }
    @media(min-width: 1201px){
      &:hover{
        span{
          &::after{
            width: 22px;
            height: 44px;
            margin-left: -11px;
            margin-top: -22px;
            .blur(0);
            .opacity(1);
          }
        }
      }
    }
    &.left{
      span {
        .transform(rotate(180deg));
        background: transparent url("../img/seta.svg") no-repeat center center;
      }
    }
    &.right{
      span {
        background: transparent url("../img/seta.svg") no-repeat center center;
      }
    }
  }
  .carousel-indicators {
    z-index: 9;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 0 2em;

    li {
      background-color: #a7a7a7;
      width: 7px;
      height: 7px;
      border: 0 none;
      margin-left: 10px;
      margin-right: 10px;

      &.active {
        background-color: #cb333b
      }
    }
  }
}
