html, body {
  font-size: 16px;
  font-family: @text-font
}
html, body, #wrapper{
  min-height: 100%
}
#wrapper{
  h1{
    font-family: @title-font;
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 40px
  }
  .full-width{
    &, & > img{
      width: 100%
    }
  }
  .group:after {
    content: "";
    display: table;
    clear: both;
  }
  .pad_0{
    padding: 0 !important
  }
  .mar_0{
    margin: 0 !important
  }
}
.om{
  nav.navbar li a, header#inside h2{
    font-family: @title-font
  }
  p {
    font-family: @text-font;
    font-size: 20px;
    line-height: 35px;
    margin-bottom:30px
  }
  a:focus, a:hover{
    color: @main-color
  }

  /** MAIN MENU **/
  nav.navbar {
    margin: 0;
    border: 0 none;
    .round-borders(0);

    a.navbar-brand {
      background: transparent url("../img/logo_branca_topo_opus.svg") no-repeat 0 0
    }
  }

  /** Pattern mask for banners **/
  .pattern_mask {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    background-image: linear-gradient(rgba(90, 90, 90, .1) 1px, transparent 1px), linear-gradient(90deg, rgba(90, 90, 90, .1) 1px, transparent 1px), linear-gradient(rgba(90, 90, 90, .1) 1px, transparent 1px);
    background-size: 4px 4px, 4px 4px, 1px 1px, 1px 1px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px
  }

  /** HEADER from inner pages **/
  header#inside{
    position: relative;
    max-height: 348px;
    margin-bottom:40px;
    .bg-cover;
  }
  .obj-w-border-2{
    position: relative;
    z-index: 10;
    font-size: 35px;
    margin: 0;
    color: #FFFFFF;
    font-family: @title-font;
    text-transform: uppercase;
    text-align: center;

    span{
      position: relative;

      hr{
        position: absolute;
        bottom: -30px;
        left:0;
        width: 0;
        border:1px solid @main-color;
        .transitions(all 2s 1s ease-out)
      }
    }
  }

  /** Border bottom effect **/
  .obj-w-border{
    text-align: center;

    span{
      position: relative;

      &::after{
        content: " ";
        position: absolute;
        bottom: -10px;
        left: 50%;
        width:0;
        border-bottom:2px solid @main-color;
        .transitions(all .4s 1.5s ease-out)
      }
    };
    &.aos-animate span::after{
      left: 0;
      width:100%
    }
  }
  .inverse{
    background-color: @main-color;

    &.darker{
      background-color: @dark-color;

      .obj-w-border{
        span::after{
          border-bottom-color: @main-color
        }
      }
    }

    .obj-w-border{
      color:#FFF;

      span::after{
        border-bottom-color: @dark-color
      }
    }
    p{
      color: #FFF
    }
  }

  /** FRAME for VIDEOS **/
  section.video{
    padding: 60px;
    background-color: @dark-color
  }

  /** FOOTER **/
  & > footer{
    position: relative;
    padding: 0;
    margin: 0;
    background-color: @dark-color;
    color: #FFF;
    text-align: center;

    a.pre_footer{
      display:block;
      margin: 0;
      padding: 30px 0;
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #FFF;
      text-decoration: none;
      font-family: @title-font;
      .transitions(all .4s linear);
      background: rgba(203,51,59,1);
      background: -moz-linear-gradient(-45deg, rgba(203,51,59,1) 0, rgba(203,51,51,1) 100%, rgba(178,35,42,1) 50%, rgba(178,35,42,1) 101%);
      background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(203,51,59,1)), color-stop(50%, rgba(203,51,51,1)), color-stop(50%, rgba(178,35,42,1)), color-stop(101%, rgba(178,35,42,1)));
      background: -webkit-linear-gradient(-45deg, rgba(203,51,59,1) 0, rgba(203,51,51,1) 100%, rgba(178,35,42,1) 50%, rgba(178,35,42,1) 101%);
      background: -o-linear-gradient(-45deg, rgba(203,51,59,1) 0, rgba(203,51,51,1) 100%, rgba(178,35,42,1) 50%, rgba(178,35,42,1) 101%);
      background: -ms-linear-gradient(-45deg, rgba(203,51,59,1) 0, rgba(203,51,51,1) 100%, rgba(178,35,42,1) 50%, rgba(178,35,42,1) 101%);
      background: linear-gradient(135deg, rgba(203,51,59,1) 0, rgba(203,51,51,1) 100%, rgba(178,35,42,1) 50%, rgba(178,35,42,1) 101%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb333b', endColorstr='#b2232a', GradientType=1 );

      &:hover,&:focus{
        text-decoration: none;
        background: -moz-linear-gradient(-45deg, rgba(203,51,59,1) 0, rgba(203,51,51,1) 0, rgba(178,35,42,1) 0, rgba(178,35,42,1) 101%);
        background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(203,51,59,1)), color-stop(0, rgba(203,51,51,1)), color-stop(50%, rgba(178,35,42,1)), color-stop(101%, rgba(178,35,42,1)));
        background: -webkit-linear-gradient(-45deg, rgba(203,51,59,1) 0, rgba(203,51,51,1) 0, rgba(178,35,42,1) 0, rgba(178,35,42,1) 101%);
        background: -o-linear-gradient(-45deg, rgba(203,51,59,1) 0, rgba(203,51,51,1) 0, rgba(178,35,42,1) 0, rgba(178,35,42,1) 101%);
        background: -ms-linear-gradient(-45deg, rgba(203,51,59,1) 0, rgba(203,51,51,1) 0, rgba(178,35,42,1) 0, rgba(178,35,42,1) 101%);
        background: linear-gradient(135deg, rgba(203,51,59,1) 0, rgba(203,51,51,1) 0, rgba(178,35,42,1) 0, rgba(178,35,42,1) 101%);
      }
    }
    a.footer-svg{
      display:inline-block;
      margin-left:15px;
      margin-right:15px;
      .transitions(opacity .3s linear);

      &.logo-grupo-om{
        width:416.447px;
        height:37.447px
      }
      &.logo-opus-multipla{
        width: 130.359px;
        height: 35.635px
      }
      &.logo-brainbox{
        width: 104.237px;
        height: 32.565px
      }
      &.logo-housecricket{
        width: 113.951px;
        height: 32.212px
      }
      &.logo-tailormedia{
        width: 135.645px;
        height: 39.46px
      }
      &.logo-fisht{
        width: 48.939px;
        height: 20px
      }
      &.sm-facebook{
        width:20.091px;
        height:38.688px
      }
      &.sm-instagram{
        width:29.719px;
        height: 29.719px
      }
      &.sm-youtube{
        width: 30.018px;
        height: 36.236px
      }
      &:hover,&:focus{
        opacity: .5
      }
    }
  }
  ul.nav.nav-pills{
    li{
      &:hover a, ul.nav.nav-pills &:focus a, ul.nav.nav-pills &.active a {
        background-color: transparent!important;
        color:transparent!important
      };
      &.active a, &.active:hover a, &.active:focus a{
        cursor: default;
      };
      a {
        font-size: 18px;
        width: 100%;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: transparent;
        overflow: hidden;
        display:inline-block;
        position: relative;
        padding: 30px 0;
        margin:0;
        .transitions(color .2s linear);

        &::before{
          position: absolute;
          top: 30px;
          left: 0;
          text-align:center;
          white-space: nowrap;
          overflow: hidden;
          padding: 0;
          width: 0;
          color: @main-color;
          opacity: 0;
          content: attr(data-hover);
          .transitions(all .3s)
        }
        &:hover::before, &:focus::before{
          width: 100%;
          opacity: 1
        }
      }
      &.active a::before {
        width: 100%
      }
    }
  }

  /*** Tablets and Desktops ***/
  @media screen and (min-width: 768px) {
    #wrapper > section > .container,
    #wrapper > section > .container-fluid {
      padding: 0 40px
    }
    section{
      padding-top: 60px;
      padding-bottom: 60px
    }
    nav.navbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 40px 30px 20px;
      width: 100%;
      background: transparent;
      z-index: 12;

      a.navbar-brand {
        width: 212px;
        height: 60px;
        text-indent: -161187em
      };
      li{
        &:hover a, &:focus a, &.active a {
          background-color: transparent!important;
        };
        &.active a {
          background-color: transparent!important;
          color:transparent!important
        };
        &.active a, &.active:hover a, &.active:focus a{
          cursor: default;
        };
        a {
          font-size: 18px;
          text-transform: uppercase;
          color: #FFFFFF;
          background-color: transparent;
          overflow: hidden;
          display:inline-block;
          position: relative;
          padding: 0;
          margin:0 10px;
          .transitions(color .2s linear);

          &::before{
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            white-space: nowrap;
            padding: 0;
            max-width: 0;
            color: @main-color;
            content: attr(data-hover);
            .transitions(max-width .3s)
          }
        }
      };

      li a:hover::before, li a:focus::before, li.active a::before{
        max-width: 100%
      }
    };
    ul.nav.nav-pills{
      margin-bottom: 60px
    }
    header#inside{
      height: 348px;

      h2{
        padding-top: 160px
      }
    }
    & > footer{
      .footer-svg{
        &.logo-grupo-om{
          margin-bottom: 60px
        }
        &.sm-instagram{
          margin: 90px 95px 30px
        }
        &.logo-fisht{
          position:absolute;
          right:30px;
          bottom:30px
        }
      }
    }
  }

  /*** Smartphones ***/
  @media screen and (max-width: 768px) {
    ul.nav.nav-pills{
      margin-bottom: 30px
    }
    & > footer{
      .footer-svg{
        margin-bottom: 30px
      }
    }
  }
}
