html, body {
  font-size: 16px;
  font-family: @text-font
}
html, body, #wrapper{
  min-height: 100%
}
#wrapper{
  h1{
    font-family: @title-font;
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 40px;

    &.data_num{
      font-size: 80px;
      font-weight: bold;
      margin:0 0 15px
    }
    &.data_leg{
      font-size: 20px;
      margin:0
    }
  }
  .full-width{
    &, & > img{
      width: 100%
    }
  }
  .group:after {
    content: "";
    display: table;
    clear: both;
  }
  .pad_0{
    padding: 0 !important
  }
  .mar_0{
    margin: 0 !important
  }
}
.om{
  nav.navbar li a, header#inside h2{
    font-family: @title-font
  }
  p {
    font-family: @text-font;
    font-size: 20px;
    line-height: 35px;
    margin-bottom:30px
  }
  a:focus, a:hover{
    color: @main-color
  }

  /** Default OM buttons **/
  a, button, input[type="button"], input[type="submit"]{
    &.btn_om{
      display:inline-block;
      font-size: 20px;
      padding: 2px 45px;
      border: 0 none;
      outline: 0 none;
      font-weight: bold;

      .transitions(background .4s linear);
      .round-borders(15px);

      &:hover, &:focus{
        text-decoration: none;
        outline: 0 none
      }
      &.btn_default{
        background-color: @main-color;
        color: #FFF;

        &:hover,&:focus{
          background-color: darken(@main-color, 20%)
        }
      }
    }
  }

  /** MAIN MENU **/
  nav.navbar {
    margin: 0;
    border: 0 none;
    .round-borders(0);

    a.navbar-brand {
      background: transparent url("../img/logo_branca_topo_opus.svg") no-repeat 0 0
    }
  }

  /** Pattern mask for banners **/
  .pattern_mask {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    background-image: linear-gradient(rgba(90, 90, 90, .1) 1px, transparent 1px), linear-gradient(90deg, rgba(90, 90, 90, .1) 1px, transparent 1px), linear-gradient(rgba(90, 90, 90, .1) 1px, transparent 1px);
    background-size: 4px 4px, 4px 4px, 1px 1px, 1px 1px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px
  }

  /** HEADER from inner pages **/
  header#inside{
    position: relative;
    max-height: 348px;
    margin-bottom:40px;
    .bg-cover;
  }

  /** Border bottom effect **/
  .obj-w-border-2{
    position: relative;
    z-index: 10;
    font-size: 35px;
    margin: 0;
    color: #FFFFFF;
    font-family: @title-font;
    text-transform: uppercase;
    text-align: center;

    span{
      position: relative;

      hr{
        position: absolute;
        bottom: -30px;
        left:0;
        width: 0;
        border:1px solid @main-color;
        .transitions(all 2s 1s ease-out)
      }
    }
  }
  .obj-w-border{
    text-align: center;

    span{
      position: relative;

      &::after{
        content: " ";
        position: absolute;
        bottom: -10px;
        left: 50%;
        width:0;
        border-bottom:2px solid @main-color;
        .transitions(all .4s 1.5s ease-out)
      }
    };
    &.aos-animate span::after{
      left: 0;
      width:100%
    }
  }
  .inverse{
    background-color: @main-color;

    &.darker{
      background-color: @dark-color;

      .obj-w-border{
        span::after{
          border-bottom-color: @main-color
        }
      }
    }

    .obj-w-border{
      color:#FFF;

      span::after{
        border-bottom-color: @dark-color
      }
    }
    p{
      color: #FFF
    }
  }

  /** FRAME for VIDEOS **/
  section.video{
    padding: 60px;
    background-color: @dark-color
  }

  /** FOOTER **/
  & > footer{
    position: relative;
    padding: 0;
    margin: 0;
    background-color: @dark-color;
    color: #FFF;
    text-align: center;

    a.pre_footer{
      display:block;
      margin: 0;
      padding: 30px 0;
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;
      color: transparent;
      text-decoration: none;
      font-family: @title-font;
      background: @main-color;
      position:relative;
      overflow: hidden;

      &::before,&::after{
        position: absolute;
        top: 0;
        bottom:0;
        height:100%
      }
      &::before{
        content: " ";
        z-index: 1;
        background-color: rgba(178,35,42,1);
        width: 125%;
        left: 125%;
        .transform(skew(-45deg, 0deg));
        .transitions(all .3s linear);
      }
      &::after{
        content: attr(data-label);
        left: 0;
        width: 100%;
        z-index:2;
        padding: 30px 0;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
      }
      &:hover,&:focus{/**/
        &::before{
          left: -15%;
        }
      }
    }
    a.footer-svg{
      display:inline-block;
      margin-left:15px;
      margin-right:15px;

      .cls-1{
        .transitions(fill .3s linear)
      }

      &.logo-grupo-om{
        width:416.447px;
      }
      &.logo-opus-multipla{
        width: 130.359px;
      }
      &.logo-brainbox{
        width: 104.237px;
      }
      &.logo-housecricket{
        width: 113.951px;
      }
      &.logo-tailormedia{
        width: 135.645px;
      }
      &.logo-fisht{
        width: 48.939px;
      }

      &.logo-grupo-om .cls-1,
      &.logo-opus-multipla .cls-1,
      &.logo-brainbox .cls-1,
      &.logo-housecricket .cls-1,
      &.logo-tailormedia .cls-1,
      &.logo-fisht .cls-1{
        fill: #FFFFFF;
      }
      &.logo-grupo-om:hover .cls-1,
      &.logo-opus-multipla:hover .cls-1,
      &.logo-brainbox:hover .cls-1,
      &.logo-housecricket:hover .cls-1,
      &.logo-tailormedia:hover .cls-1,
      &.logo-fisht:hover .cls-1,
      &.logo-grupo-om:focus .cls-1,
      &.logo-opus-multipla:focus .cls-1,
      &.logo-brainbox:focus .cls-1,
      &.logo-housecricket:focus .cls-1,
      &.logo-tailormedia:focus .cls-1,
      &.logo-fisht:focus .cls-1{
        fill: @main-color;
      }

      &.sm-facebook{
        width:18.091px;
      }
      &.sm-instagram{
        width:27.719px;
      }
      &.sm-youtube{
        width: 28.018px;
      }
      &.sm-facebook .cls-1,
      &.sm-instagram .cls-1,
      &.sm-youtube .cls-1{
        fill: @main-color;
      }
      &.sm-facebook:hover .cls-1,
      &.sm-instagram:hover .cls-1,
      &.sm-youtube:hover .cls-1,
      &.sm-facebook:focus .cls-1,
      &.sm-instagram:focus .cls-1,
      &.sm-youtube:focus .cls-1{
        fill: #ffffff;
      }
    }
  }
  ul.nav.nav-pills{
    li{
      padding: 30px 0;
      margin:0;

      &:hover a, &:focus a, &.active a {
        background-color: transparent!important
      }
      &.active a, &.active:hover a, &.active:focus a{
        cursor: default;
        color:transparent!important
      }
      a {
        font-size: @menu-item-font-size;
        font-family: @title-font;
        padding: 0;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: transparent;
        overflow: hidden;
        display:inline-block;
        position: relative;
        .transitions(color .2s linear);

        &:hover, &:focus{
          color: transparent!important
        }
        &::before{
          position: absolute;
          top: 0;
          left: 0;
          text-align:center;
          white-space: nowrap;
          overflow: hidden;
          padding: 0;
          max-width: 0;
          color: @main-color;
          content: attr(data-hover);
          .transitions(max-width .3s)
        }
        &:hover::before, &:focus::before{
          max-width: 100%;
        }
      }
      &.active a::before {
        max-width: 100%
      }
    }
  }

  /*** Tablets and Desktops ***/
  @media screen and (min-width: 768px) {
    #wrapper > section > .container,
    #wrapper > section > .container-fluid {
      padding: 0 40px
    }
    section{
      padding-top: 60px;
      padding-bottom: 60px;

      &.half-pad{
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
    nav.navbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 40px 30px 20px;
      width: 100%;
      background: transparent;
      z-index: 12;

      a.navbar-brand {
        width: 348.355px;
        height: 93.218px;
        padding: 0;
        text-indent: -161187em
      };
      li{
        &:hover a, &:focus a, &.active a {
          background-color: transparent!important;
        };
        &.active a {
          background-color: transparent!important;
          color:transparent!important
        };
        &.active a, &.active:hover a, &.active:focus a{
          cursor: default;
        };
        a {
          font-size: @menu-item-font-size;
          text-transform: uppercase;
          color: #FFFFFF;
          background-color: transparent;
          overflow: hidden;
          display:inline-block;
          position: relative;
          padding: 0;
          margin:0 10px;
          .transitions(color .2s linear);

          &::before{
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            white-space: nowrap;
            padding: 0;
            max-width: 0;
            color: @main-color;
            content: attr(data-hover);
            .transitions(max-width .3s)
          }
        }
      };

      li a:hover::before, li a:focus::before, li.active a::before{
        max-width: 100%
      }
    };
    ul.nav.nav-pills{
      margin-bottom: 60px
    }
    header#inside{
      height: 348px;

      h2{
        padding-top: 160px
      }
    }
    & > footer{
      .footer-svg{
        &.logo-grupo-om{
          margin-bottom: 60px
        }
        &.sm-instagram{
          margin: 90px 95px 30px
        }
        &.logo-fisht{
          position:absolute;
          right:30px;
          bottom:30px
        }
      }
    }
  }

  /*** Smartphones ***/
  @media screen and (max-width: 768px) {
    ul.nav.nav-pills{
      margin-bottom: 30px
    }
    & > footer{
      .footer-svg{
        margin-bottom: 30px
      }
    }
  }
}
