.om{
  .ideativos{
    text-align:center;
    @media (max-width: 1200px){
      margin-bottom:50px
    }

    .photo{
      width: 169px;
      max-height: 258px;
      overflow:hidden;
      margin: 0 auto 25px;
      border: 1px solid @main-color;
      img{
        width: 100%
      }
    }
    h3{
      font-size: 18px;
      margin: 0 0 15px;
      color:#FFF
    }
    @media screen and (min-width: 768px) {
      h3{
        white-space: nowrap
      }
    }
    p{
      color:@main-color;
      min-height: 50px;
      font-size: 12px;
      line-height: 18px;
      margin-bottom:20px
    }
    & > a{
      display:block;
      width:46px;
      height:46px;
      padding: 10px;
      margin: 30px auto 15px;
      border: 1px solid transparent;
      .transitions(border-color .4s linear);

      &:hover,&:focus{
        border-color:@main-color
      }
    }
    @media (max-width: 767px){
      p{
        margin-bottom: 0;
        min-height: inherit;
      }
      & > a{
        margin-top: 10px;
        margin-bottom: 30px
      }
    }
  }
  .nav-tabs{
    margin-bottom: 40px;

      li{
      padding-right: 40px;

      &:last-child{
        padding-right: 0
      }
      &.active{
        a,a:hover,a:focus{
          background-color: @main-color;
          cursor: default
        }
      }
      a{
        color: #FFF;
        background-color: @dark-color;
        border: 0 none;
        text-transform: uppercase;
        font-famiy: @title-font;
        .round-borders(0);
        .transitions(background-color .2s linear);

        &:hover,&:focus{
          background-color: @main-color
        }
      }
    }
  }
  .tab-content{
    padding: 30px;
    background-color: @main-color;

    @media (max-width: 767px){
      &{
        margin-bottom: 20px
      }
    }

    p{
      color: #FFF
    }
  }
  .inverse{
    .nav-tabs{
      li{
        &.active{
          a,a:hover,a:focus{
            background-color: #FFF;
            cursor: default
          }
        }
        a{
          color: @main-color;
          background-color: @dark-color;

          @media (max-width: 1325px){
            .nowrap_on_small_devices{
              white-space: nowrap
            }
          }

          &:hover,&:focus{
            background-color: #f5f5f5
          }
        }
      }
    }
    .tab-content{
      background-color: #FFF;

      p {
        color: @dark-color
      }
    }
  }
}
.page_quem-somos{
  header#inside{
    .bg-img{
      @media (min-width: 768px){
        background-image: url("../img/headers/quem_somos-min.jpg");
      }
      @media (max-width: 767px){
        background-image: url("../img/headers/quem_somos-min.jpg");
      }
    }
  }
  .clientes{
    img{
      max-width:245px!important
    }
  }
  .premios{
    img{
      margin-bottom:20px;
      @media screen and (min-width: 1201px){
        max-width:290px!important
      }
    }
  }

  .bg_gray{
    background-color: #efefef;

    .white_cards{
      background-color: #FFF;
      border: 1px solid #95989a;

      @media(max-width: 767px){
        padding: 0 15px 20px;
      }
      @media(min-width: 768px){
        padding: 0 15px 25px 40px;
      }

      margin-bottom: 30px;

      .obj-w-border{
        font-size: 22px;
        font-family: @title-font;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      p{
        font-size: 18px;
        line-height: 25px
      }
      .scroll_frame{
        overflow: auto;

        @media (min-width: 768px) and (max-width: 1200px){
          & { height:415px; }
        }
      }
    }
  }
}
